CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEMCPY_MEMSET_STD=y
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_USE_CHART=y
CONFIG_LV_USE_PERF_MONITOR=y

# BMW-Multi-Ansicht: grosse Geschwindigkeitsanzeige (montserrat 48),
# vergroesserte Gaspedal-/Drehzahl-Felder (montserrat 28)
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_FONT_MONTSERRAT_28=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# Verdacht auf Stack-Ueberlauf im Bluedroid-BTC-Task (dort laeuft unser
# GATTC-Callback inkl. SD-Logging bei jeder BLE-Notify) - vermutlicher
# Grund fuer sporadische reset_reason=4/7-Boot-Loops waehrend BLE-OBD-
# Verbindungsaufbau/-betrieb. Default-Stacks (BTC 3072, BTU 4096) auf
# Verdacht vergroessert, mangels Crash-Dump nicht bestaetigt.
CONFIG_BT_BTC_TASK_STACK_SIZE=4096
CONFIG_BT_BTU_TASK_STACK_SIZE=6144
